@model StudentViewModel

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Create a new student.</h4>            
            <form asp-action="Create" method="post" onsubmit="beforeRegister()">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SurName"></label>
                        <input asp-for="SurName" class="form-control" />
                        <span asp-validation-for="SurName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserId"></label>
                        <input asp-for="UserId" class="form-control invisible  p-0 h-0" />

                        <select class="selectpicker form-control" data-live-search="true" title="Choose one of the following...">
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.Id">@user.UserName</option>
                            }
                        </select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>            
        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $('select').selectpicker();
        });

        function beforeRegister() {
            var selectedItem = $('.selectpicker').val();
            document.getElementsByName("UserId")[0].value = selectedItem.toString();
        }
    </script>
}